language: php
php:
  - 5.5
  - 5.6
  - 7.0
  - nightly

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install
  - mkdir -p build/logs

script:
  - phpunit --configuration ./travis-ci.xml --coverage-clover build/logs/clover.xml

after_script:
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then php vendor/bin/coveralls -v; fi;'
